.aGraph{
    text-align:center;
    display:none;
}

path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

#x_range {
  margin-top: 20px;
  z-index: 0;
}

#bin_range {
  margin-top: 20px;
}

.some_label {
  text-align: center;
}

/*.aGraph {
  position:relative;
  top:50px;
  left:0;
}
*/
.aGraph rect {
  stroke: white;
  fill: steelblue;
}

.aGraph text.score {
  fill: white;
}

.aGraph text.name {
  fill: #000;
}