@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/BEBAS___-webfont.woff') format('woff'),
    url('font/BEBAS___-webfont.ttf') format('truetype'),
    url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    
}
html,body{			/*Global styling for both HTML and BODY elements*/
    font-family: 'BebasRegular';
    width:100%;
    height:100%;
}

.navigation{ 			/*This is for the navigation menu class navigation*/
    position:fixed;		/*A fixed position is fixed relative to teh browser window, even if scrolled*/
    z-index:1;			/*The stack order of overlapping elements, higher z-index=on top*/
    top:20px;
}
.navigation li{			/*The styling for the list elements in the navigation class*/
    color:#333333;
    display:block;
    padding: 0 10px;
    line-height:30px;
    margin-bottom:2px;
    font-weight:bold;
    -webkit-transition: all .2s ease-in-out; /*Allowing the transition on hover-over*/
    border-bottom:1px solid black;
    text-align:left;
    width:53px;
}
.navigation li:hover,.active{	/*The syling for the navigation list items when hovering AND active*/
    font-size:25px;
    cursor:pointer;		/*Define what the mouse cursor should look like*/
    width:100px!important;	/*Give priority to this style over inline styles*/
}
.envatologo{			/*Styling for the logo*/
    position:fixed;		/*Position is relative to the browser window*/
    top:50%;			/*Position is half way up...*/
    left:50%;			/*...and in the middle*/
    width:446px;
    margin-top:-41px;
    margin-left:-223px;
    z-index:1;			/*It has stacking priority like the navigation list*/
}
.slide{				/*Styling for all the slide classes*/
    background-attachment: fixed; /*Makes the background image fix rather than scroll with the page, only used for slide 4*/
    width:100%;			  /*Make the slides full-width...*/
    height:100%;		  /*...and full height of a browser window*/
    position: relative;		  /*Positioned relative to its default static position in the normal HTML flow of the page...so that the absolute positioned elements within this element can be positioned relative to it*/
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{			/*The styling for the wrapper around the parallax bubbles and slide 3's images*/
    width:960px;
    height:200px;
    margin:0 auto;
    position:relative;		/*Again positioned relative to its static position in the normal flow*/
}
.slideno{			/*The slide numbers that appear bottom left*/
    position:absolute;		/*Positioned absolutely relative to the slide, not the document*/
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}
.button{			/*The byttons ribbons that appear at the bottom of each slide*/
    display:block;
    width:50px;
    height:50px;
    position:absolute;		/*Positioned relative to the slide too*/
    bottom:0px;
    left:50%;
    background-color:#333333;
    background-image:url(../images/arrow.png);
}
.button:hover{			/*How the button will act on hovering over it*/
    background-color:#494949;	/*Change the background colour*/
    cursor:pointer;
}

/******************************
			       SLIDE 1 
			       *******************************/
#slide1{
    background-color:#5c9900;
    
}
/******************************
			       SLIDE 2 
			       *******************************/
#slide2{			/*Just setting the background colour of the slide*/
    background-color:#005c99;
    
}
#slide2 img:first-child{	/*A CSS selector that allows us to select pseudo-classes in the order they appear in the markup*/
    position:absolute;		/*Each is positioned relative to the wrapper above it*/
    top: 700px;
    left: -150px;
}
#slide2 img:nth-child(2){
    position:absolute;
    top:300px;
    left:100px;
}
#slide2 img:nth-child(3){
    position:absolute;
    top:600px;
    left:300px;
}
#slide2 img:nth-child(4){
    position:absolute;
    top:400px;
    left:300px;
}
#slide2 img:nth-child(5){
    position:absolute;
    top:600px;
    right:300px;
}
#slide2 img:nth-child(6){
    position:absolute;
    top:600px;
    right:300px;
}
#slide2 img:nth-child(7){
    position:absolute;
    top:400px;
    right:100px;
}
#slide2 img:nth-child(8){
    position:absolute;
    top:100px;
    right:300px;
}
/******************************
			       SLIDE 3 
			       *******************************/
#slide3{
    background-color:#b6c10b;
}
#slide3 img:first-child{
    position:absolute;
    top: 700px;
    left: 300px;
}
#slide3 img:nth-child(2){
    position:absolute;
    top:100px;
    left:100px;
}
#slide3 img:nth-child(3){
    position:absolute;
    top:150px;
    left:300px;
}
#slide3 img:nth-child(4){
    position:absolute;
    top:450px;
    left:300px;
}
#slide3 img:nth-child(5){
    position:absolute;
    top:200px;
    right:300px;
}
#slide3 img:nth-child(6){
    position:absolute;
    top:100px;
    right:300px;
}	

/******************************
			       SLIDE 4 
			       *******************************/

#slide4{
    background-image:url(../images/slide4/desktop4.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	/*This makes the bacground cover the whole broswer window (and resize with the window*/
}
#slide4 .parallaxbg{		/*The text at the top right*/
    position:absolute;
    right:40px;
    top:40px;
    font-size:28px;
    color:rgba(51,51,51,0.3);
}