<!DOCTYPE html>

{% load static %} <!-- Allows the use of static files like images, css and js-->

<html>
	
	<head>
		<meta charset="utf-8">
		<title> Rango index page </title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset-min.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>

	<body>
		<h1> This page is about this project </h1>
		hello world! <strong>{{ boldmessage }}</strong><br />
		<img src="{% static 'images/Firefox_wallpaper.png' %}" alt="This is the alt text" title="This is the alt text" width="50%"/> 
	</body>
</html>