{% extends "rango/base.html" %}

{% block title %}Add post{% endblock %}

{% block page_title %}Add a post{% endblock %}

{% block content %}

	{% for post in posts %} 
		<div class='wall_posts'>
			<div class='column_names'>
				user:
			</div>
			<div class='post_content'>
				{{post.user}}
			</div>
			<div class='column_names'>
				said:
			</div>
			<div class='post_content'>
				{{post.post}}
			</div>
			<div class='column_names'>
				on:
			</div>
			<div class='post_content'>
				{{ post.date_posted.day }} - {{ post.date_posted.month }} - {{ post.date_posted.year }}
			</div>
		</div>
	{% endfor %}

	<form method="post" action="">
		{{ formset }}
<!-- 		Post: <textarea name="post"></textarea> -->
	<input type="submit" value="Post">
	</form>
	
{% endblock %}
