{% extends "rango/base.html" %}

{% block title %}Add user{% endblock %}

{% block content %}

{% for user in users %} 
	<div class='wall_posts'>
		<div class='column_names'>
			user:
		</div>
		<div class='post_content'>
			{{user.username}}
		</div>
		<div class='column_names'>
			name:
		</div>
		<div class='post_content'>
			{{user.first_name}} {{user.last_name}}
		</div>
	</div>
{% endfor %}

	<form method="post" action="">
		{{ formset }}
<!-- 		Post: <textarea name="post"></textarea> -->
	<input type="submit" value="Post">
	</form>
{% endblock %}