<!DOCTYPE html>

{% load static %} <!-- Allows the use of static files like images, css and js-->

<html>
	
	<head>
		<meta charset="utf-8">
		<title>{% block title %} Charles Wood base page {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset-min.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.stellar.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>

	</head>

	<body>
		<div class='titlebar'>
			<span id='titlename'>
				{% block page_title%} SOME SITE {% endblock %}
			</span>
			<ul id='menulist' style="display-block">
				<li> 
					<a href="/rango/">Home</a><br />
				</li>
				<li> 
					<a href="/rango/about/">About</a><br />
				</li>
				<li> 
					<a href="/rango/test/">Parallax page</a><br />
				</li>
				<li> 
					<a href="/rango/adduser/">Add a user</a><br />
				</li>
				<li> 
					<a href="/rango/addpost/">Add a post</a><br />
				</li>
				<li> 
					<a href="/rango/signup/">Signup</a><br />
				</li>

			</ul>
			<!-- <button class='menuselector'> menu </button>  -->
			<div id='menuselector'>
				<img src="{% static 'images/arrow_down.png' %}" alt="menu" title="menu" onclick="changeMenuButton()"/> 
			</div>
		</div>

		<div id='content'>
			{% block content %}{% endblock %}
		</div>
	
	</body>
</html>

<script language="javascript">
    function changeMenuButton() {

    	var menuselector = document.getElementById("menuselector");
    	// var menu = document.getElementById("menulist");

		// menu.style.display = menu.style.display == "block" ? "none" : "block";
        if (menuselector.src == "{% static 'images/arrow_down.png' %}") 
        {
        	$('#menulist').slideDown();
            menuselector.src = "{% static 'images/arrow_up.png' %}";
        }
        else if (menuselector.src == "{% static 'images/arrow_up.png' %}")  
        {
        	$('#menulist').slideUp();
            menuselector.src = "{% static 'images/arrow_down.png' %}";
        }
        else// if (menuselector.src == undefined) i.e. at the page load so you only have to click once.
        {
        	$('#menulist').slideDown();
            menuselector.src = "{% static 'images/arrow_up.png' %}";
       	
        }
    }
</script>
