<!DOCTYPE html>

{% load static %} <!-- Allows the use of static files like images, css and js-->

<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/flipclock.css' %}">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<script src="{% static 'js/flipclock.js' %}"></script>		
	</head>
	<body>
		<div class="clock" style="margin:2em;"></div>
<!-- 
		<button type="button" class="increment" style="margin: 25px; font-size: 20px; padding: 15px;">+1</button>
		
		<button type="button" class="decrement" style="margin: 25px; font-size: 20px; padding: 15px;">-1</button>
		
		<button type="button" class="reset" style="margin: 25px; font-size: 20px; padding: 15px;">Reset</button>
 -->		
		<script type="text/javascript">
			var clock;
			$(document).ready(function() {
				// Instantiate a counter
				clock = new FlipClock($('.clock'), {
					clockFace: 'HourlyCounter',
					countdown: true
				});

				var date_night_time = new Date(2014, 10, 28, 18, 0, 0, 0).getTime() / 1000;
				var time_now = new Date().getTime() / 1000;
				clock.setTime(parseInt(date_night_time - time_now));
				clock.start();

				
			});
		</script>
		
	</body>
</html> 