<!DOCTYPE html>

{% load static %} <!-- Allows the use of static files like images, css and js-->

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/flipclock.css' %}">
	</head>
	<body>
		<div class="your-clock"></div>

		<script type="text/javascript" src="{% static 'js/flipclock.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		
	</body>
</html>

<script>
	var	clock = $('.your-clock').FlipClock({
		countdown = true;
	});

	clock.setTime(3600);
</script>