{% extends "rango/base.html" %}

{% load static %}

{% block title %}Visualise data{% endblock %}

{% block css_and_js_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/d3stuff.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.nouislider.css' %}">

    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.nouislider.min.js' %}"></script>
{% endblock %}

{% block page_title %}Visualise data{% endblock %} 

{% block content %}


<div id="graph1" class="aGraph">
<!-- style="position:absolute;top:30px;left:0;"> -->
<br><br><br><br><br>
    <select name="tags_or_categories1" id="tags_or_categories1">
        {% for category in graph_types_1 %}
            {% if category == "airlines" %}
                <option value="{{ category }}" selected> {{ category }} </option>
            {% else %}
                <option value="{{ category }}"> {{ category }} </option>
            {% endif %}
        {% endfor %}
    </select>
    
    <select name="dataset_choice1" id="dataset_choice1">
        {% for category in dataset_options_1 %}
            {% if category == "mcc to high level tags" %}
                <option value="{{ category }}" selected> {{ category }} </option>
            {% else %}
                <option value="{{ category }}"> {{ category }} </option>
            {% endif %}
        {% endfor %}
    </select>


</div>

<div id="graph2" class="aGraph">
<!-- style="position:absolute;top:30px;left:0;"> -->
<br><br><br><br><br>
    <select name="tags_or_categories2" id="tags_or_categories2">
        {% for category in graph_types_2 %}
            {% if category == "airlines" %}
                <option value="{{ category }}" selected> {{ category }} </option>
            {% else %}
                <option value="{{ category }}"> {{ category }} </option>
            {% endif %}
        {% endfor %}
    </select>
    
    <select name="dataset_choice2" id="dataset_choice2">
        {% for category in dataset_options_2 %}
            {% if category == "mcc to high level tags" %}
                <option value="{{ category }}" selected> {{ category }} </option>
            {% else %}
                <option value="{{ category }}"> {{ category }} </option>
            {% endif %}
        {% endfor %}
    </select>


</div>
{% endblock %}

{% block js %}

<script>
    // define dimensions of graph
    var m = [80, 80, 80, 80]; // margins
    var w = 800 - m[1] - m[3]; // width
    var h = 800 - m[0] - m[2]; // height

    $(window).resize(function(){
     setInterval(function() {
         $('#graph1').css({
             position:'relative',
             left: ($(window).width() - $('#graph1').outerWidth())/2,
             top: ($(window).height() - $('#graph1').outerHeight())/2,
         }).fadeIn(5000);
     }, 20);

    });

    $(window).resize(function(){
     setInterval(function() {
         $('#graph2').css({
             position:'relative',
             left: ($(window).width() - $('#graph2').outerWidth())/2,
             // top: ($(window).height() - $('#graph2').outerHeight())/2,
         }).fadeIn(5000);
     }, 20);

    });
    
    // To initially run the function:
    $(window).resize();

    var graphs = {{ graph|safe }}; // Django markup to get the data
    
    console.log(graphs);

    var categoryChoice1 = getTagOrCategory1Value();
    var datasetChoice1 = getDatasetCategory1Value();
    var keys1 = Object.keys(graphs[datasetChoice1]);
    if (keys1.indexOf(categoryChoice1) >= 0) {
        updateGraph1(categoryChoice1, datasetChoice1);
    }

    var categoryChoice2 = getTagOrCategory2Value();
    var datasetChoice2 = getDatasetCategory2Value();
    var keys2 = Object.keys(graphs[datasetChoice2]);
    if (keys2.indexOf(categoryChoice2) >= 0) {
        updateGraph2(categoryChoice2, datasetChoice2);
    }

    // a jQuery event to update the graph on changing the category from the drop down
    $('#tags_or_categories1').on('change', function (e) {
        categoryChoice1 = getTagOrCategory1Value();
        datasetChoice1 = getDatasetCategory1Value();

        if (keys1.indexOf(categoryChoice1) >= 0) {
            updateGraph1(categoryChoice1, datasetChoice1);
        }
    });
  
    // a jQuery event to update the graph on changing the category from the drop down
    $('#dataset_choice1').on('change', function (e) {
        categoryChoice1 = getTagOrCategory1Value();
        datasetChoice1 = getDatasetCategory1Value();

        if (keys1.indexOf(categoryChoice1) >= 0) {
            updateGraph1(categoryChoice1, datasetChoice1);
        }
    });
 
    // a jQuery event to update the graph on changing the category from the drop down
    $('#tags_or_categories2').on('change', function (e) {
        categoryChoice2 = getTagOrCategory2Value();
        datasetChoice2 = getDatasetCategory2Value();
    
        if (keys2.indexOf(categoryChoice2) >= 0) {
            updateGraph2(categoryChoice2, datasetChoice2);
        }
    });
  
    // a jQuery event to update the graph on changing the category from the drop down
    $('#dataset_choice2').on('change', function (e) {
        categoryChoice2 = getTagOrCategory2Value();
        datasetChoice2 = getDatasetCategory2Value();
        
        if (keys2.indexOf(categoryChoice2) >= 0) {
            updateGraph2(categoryChoice2, datasetChoice2);
        }
     });

    // A function to perform Python-style unzipping
    // ============================================
    function Unzip(array, index_to_unzip) {
        var unzipped_array = [];    

        for (var i=0; i < array.length; i++) {
            unzipped_array.push(array[i][index_to_unzip]);
        };  

        return unzipped_array;
    };


    // A function to get the value of the category drop down menu
    // ==========================================================
    function getTagOrCategory1Value() {
        return $('#tags_or_categories1').val();
    }

    // A function to get the value of the category drop down menu
    // ==========================================================
    function getDatasetCategory1Value() {
        return $('#dataset_choice1').val();
    }

    // A function to get the value of the category drop down menu
    // ==========================================================
    function getTagOrCategory2Value() {
        return $('#tags_or_categories2').val();
    }

    // A function to get the value of the category drop down menu
    // ==========================================================
    function getDatasetCategory2Value() {
        return $('#dataset_choice2').val();
    }


    // A function to draw the graph first time around
    // =========================================
    function drawGraph1(categoryChoice, datasetChoice){

        var tags = Unzip(graphs[datasetChoice][categoryChoice], 'tag'), //['John', 'Tim', 'Sam', 'Greg', 'Charles'],
        values = Unzip(graphs[datasetChoice][categoryChoice], 'value'),//[8, 4, 9, 12, 11],
        graph,
        // width = 400,
        bar_height = h / tags.length,
        // height = bar_height * tags.length;
        indices = d3.range(0, values.length); 
        
        console.log("width, height, margins");
        console.log(w);
        console.log(h);
        console.log(m);

        var left_width = 300;

        graph = d3.select("#graph1").append("svg")
            .attr("width", w + m[1] + m[3] + left_width)
            .attr("height", h + m[0] + m[2]);

        console.log(categoryChoice);
      
        var x, y;
        x = d3.scale.linear()
           .domain([0, d3.max(values)])
           .range([0, w]);

        y = d3.scale.ordinal()
           .domain(indices)
           .rangeRoundBands([0, h]);

        graph.selectAll("rect")
           .data(values)
           .enter().append("rect")
           .attr("x", left_width)
           .attr("y", function (value, index) { 
                // use the index as input instead of value; y(index) instead of y(value)
                return y(index); 
            })
           .attr("width", x)
           .attr("height", y.rangeBand());

        graph.selectAll("text.score")
          .data(values)
          .enter().append("text")
          .attr("x", function(d) { return x(d) + left_width; })
          .attr("y", function(d, i) { return y(i) + y.rangeBand()/2; } )
          .attr("dx", -5)
          .attr("dy", ".36em")
          .attr("text-anchor", "end")
          .attr('class', 'score')
          .text(String);

        graph.selectAll("text.name")
          .data(tags)
          .enter().append("text")
          .attr("x", left_width / 2)
          .attr("y", function(d, i) { return y(i) + y.rangeBand()/2; } )
          .attr("dy", ".36em")
          .attr("text-anchor", "middle")
          .attr('class', 'name')
          .text(String);
    };



    // A function to update the graph with a transition
    // ================================================
    function updateGraph1(categoryChoice, datasetChoice){

        tags = Unzip(graphs[datasetChoice][categoryChoice], 'tag'); //['John', 'Tim', 'Sam', 'Greg', 'Charles'],
        values = Unzip(graphs[datasetChoice][categoryChoice], 'value');//[8, 4, 9, 12, 11],
        // graph,
        // width = 400,
        bar_height = h / tags.length;
        // height = bar_height * tags.length;
        indices = d3.range(0, values.length); 
        
        console.log("width, height, margins");
        console.log(w);
        console.log(h);
        console.log(m);

        var left_width = 300;

        console.log(categoryChoice);
        console.log(values);
 
        x = d3.scale.linear()
           .domain([0, d3.max(values)])
           .range([0, w]);

        y = d3.scale.ordinal()
           .domain(indices)
           .rangeRoundBands([0, h]);

        graph = d3.select("#graph1");

        graph.select("svg").remove();//transition();
        
        graph = d3.select("#graph1").append("svg")
            .attr("width", w + m[1] + m[3] + left_width)
            .attr("height", h + m[0] + m[2]);

        graph.selectAll("rect")
           .data(values)
           // .transition()
           .enter()
           .append("rect")
           .attr("x", left_width)
           .attr("y", function (value, index) { 
                // use the index as input instead of value; y(index) instead of y(value)
                return y(index); 
            })
           .attr("width", x)
           .attr("height", y.rangeBand());
           // .transition();
           // .exit().remove();

        graph.selectAll("text.score")
          .data(values)
          .enter().append("text")
          .attr("x", function(d) { return x(d) + left_width; })
          .attr("y", function(d, i) { return y(i) + y.rangeBand()/2; } )
          .attr("dx", -5)
          .attr("dy", ".36em")
          .attr("text-anchor", "end")
          .attr('class', 'score')
          .text(String);

        graph.selectAll("text.name")
          .data(tags)
          .enter().append("text")
          .attr("x", left_width / 2)
          .attr("y", function(d, i) { return y(i) + y.rangeBand()/2; } )
          .attr("dy", ".36em")
          .attr("text-anchor", "middle")
          .attr('class', 'name')
          .text(String);
    };

    // A function to draw the graph first time around
    // =========================================
    function drawGraph2(categoryChoice, datasetChoice){

        var tags = Unzip(graphs[datasetChoice][categoryChoice], 'tag'), //['John', 'Tim', 'Sam', 'Greg', 'Charles'],
        values = Unzip(graphs[datasetChoice][categoryChoice], 'value'),//[8, 4, 9, 12, 11],
        graph,
        // width = 400,
        bar_height = h / tags.length,
        // height = bar_height * tags.length;
        indices = d3.range(0, values.length); 
        
        console.log("width, height, margins");
        console.log(w);
        console.log(h);
        console.log(m);

        var left_width = 300;

        graph = d3.select("#graph2").append("svg")
            .attr("width", w + m[1] + m[3] + left_width)
            .attr("height", h + m[0] + m[2]);

        console.log(categoryChoice);
      
        var x, y;
        x = d3.scale.linear()
           .domain([0, d3.max(values)])
           .range([0, w]);

        y = d3.scale.ordinal()
           .domain(indices)
           .rangeRoundBands([0, h]);

        graph.selectAll("rect")
           .data(values)
           .enter().append("rect")
           .attr("x", left_width)
           .attr("y", function (value, index) { 
                // use the index as input instead of value; y(index) instead of y(value)
                return y(index); 
            })
           .attr("width", x)
           .attr("height", y.rangeBand());

        graph.selectAll("text.score")
          .data(values)
          .enter().append("text")
          .attr("x", function(d) { return x(d) + left_width; })
          .attr("y", function(d, i) { return y(i) + y.rangeBand()/2; } )
          .attr("dx", -5)
          .attr("dy", ".36em")
          .attr("text-anchor", "end")
          .attr('class', 'score')
          .text(String);

        graph.selectAll("text.name")
          .data(tags)
          .enter().append("text")
          .attr("x", left_width / 2)
          .attr("y", function(d, i) { return y(i) + y.rangeBand()/2; } )
          .attr("dy", ".36em")
          .attr("text-anchor", "middle")
          .attr('class', 'name')
          .text(String);
    };



    // A function to update the graph with a transition
    // ================================================
    function updateGraph2(categoryChoice, datasetChoice){

        tags = Unzip(graphs[datasetChoice][categoryChoice], 'tag'); //['John', 'Tim', 'Sam', 'Greg', 'Charles'],
        values = Unzip(graphs[datasetChoice][categoryChoice], 'value');//[8, 4, 9, 12, 11],
        // graph,
        // width = 400,
        bar_height = h / tags.length;
        // height = bar_height * tags.length;
        indices = d3.range(0, values.length); 
        
        console.log("width, height, margins");
        console.log(w);
        console.log(h);
        console.log(m);

        var left_width = 300;

        console.log(categoryChoice);
        console.log(values);
 
        x = d3.scale.linear()
           .domain([0, d3.max(values)])
           .range([0, w]);

        y = d3.scale.ordinal()
           .domain(indices)
           .rangeRoundBands([0, h]);

        graph = d3.select("#graph2");

        graph.select("svg").remove();//transition();
        
        graph = d3.select("#graph2").append("svg")
            .attr("width", w + m[1] + m[3] + left_width)
            .attr("height", h + m[0] + m[2]);

        graph.selectAll("rect")
           .data(values)
           // .transition()
           .enter()
           .append("rect")
           .attr("x", left_width)
           .attr("y", function (value, index) { 
                // use the index as input instead of value; y(index) instead of y(value)
                return y(index); 
            })
           .attr("width", x)
           .attr("height", y.rangeBand());
           // .transition();
           // .exit().remove();

        graph.selectAll("text.score")
          .data(values)
          .enter().append("text")
          .attr("x", function(d) { return x(d) + left_width; })
          .attr("y", function(d, i) { return y(i) + y.rangeBand()/2; } )
          .attr("dx", -5)
          .attr("dy", ".36em")
          .attr("text-anchor", "end")
          .attr('class', 'score')
          .text(String);

        graph.selectAll("text.name")
          .data(tags)
          .enter().append("text")
          .attr("x", left_width / 2)
          .attr("y", function(d, i) { return y(i) + y.rangeBand()/2; } )
          .attr("dy", ".36em")
          .attr("text-anchor", "middle")
          .attr('class', 'name')
          .text(String);
    };



</script>

{% endblock %}





