{% extends "rango/base.html" %}

{% block title %}Signup{% endblock %}

{% block page_title %}Signup{% endblock %} 

{% block content %}

	{% if registered %}

		<div class="signup">
			Thank you for registering! <br />
			<a href='/rango/'> Return home </a> 
		</div>

	{% else %}
		<div class="signup">
			<div id="signup_title">
				Enter your details to register
			</div>

			<div id="signup_form">
				<form id="siteuser_form" method="post" action="/rango/signup/" enctype="multipart/form-data">

					{% csrf_token %}

					{{ siteuser_form.as_p }}

					<input type="submit" name="submit" value="Register" />
				</form>
			</div>
		</div>
		
	{% endif %}

{% endblock %}

{% block script %}
<script>
	$(window).resize(function(){

	    $('.signup').css({
	        position:'absolute',
	        left: ($(window).width() - $('.signup').outerWidth())/2,
	        top: ($(window).height() - $('.signup').outerHeight())/2
	    });

	});

	// To initially run the function:
	$(window).resize();
</script>
{% endblock %}